body{
    background-image: url("number-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#fact{
    display: none;
}
#numbercard{
    margin-top: 22%;
    box-shadow: 5px 10px 18px #c9c7c7;
    border: 1px solid rgb(206, 8, 84);
    background-color: rgb(218, 223, 158);
}
.card-header{
    color:rgb(201, 9, 9);
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2em;
}
#facttext{
    color:rgb(201, 79, 8);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 1.5em;
}
p{
    color: rgb(185, 10, 25);
    font-weight: 500;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.5em;
}
#info{
    color:rgb(201, 9, 9);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.5em;
}